.body {
    color: white;
    font-family: Helvetica, sans-serif;
    background-image: url(img/pexels-anni-roenkae-2832432.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;

}

*{box-sizing: border-box;}

.center{
    max-width: 60rem;
    margin: auto auto;

}


.header {
    height: 65vh;
    position: relative;
}


/******* Alles Style der Main Navi *****/ 
.mainnavi{
    display: flex;
    align-items: center;
    justify-content: space-around; /* das verteilt die elemente gleichm */
    padding-top: 1vw;
}

.mainnavi a {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
    padding: 1vw;
}

.mainnavi a:hover {
    border-bottom: 2px white solid;
    transition-duration: 0.75s;
}

.mainnavi .signup {
    border: 2px white solid;
    border-radius: 0.5vw;
    transition-duration: 0.5s;
}

.mainnavi .signup:hover {
    background-color: white;
    color: rgb(109, 112, 236);
    transition-property: all;
    transition-duration: 0.75s;
}

.mainnavi .logo {
    width: 5vw;
}




/******* End of Main Navi *****/ 




.text1 {
    width: 30vw;
    height: 30vh;
    text-align: left;
    position: absolute;
    right: 20vw;
    bottom: 10vh;
    
}

h1 {
    color: white;
    font-size: 20pt;  
}

p{font-size: 10pt;
    margin-bottom: 5vh;
}


.download{
    border: 2px white solid;
    border-radius: 0.5vw;
    transition-duration: 0.5s;
    height: 5vh;
    padding: 1vw;
    color: white;
    text-decoration: none;
    margin-top: 5vh;
    
}

.download:hover {
    background-color: white;
    color: rgb(109, 112, 236);
    transition-property: all;
    transition-duration: 0.75s;
}

.handy {
    position: absolute;
    height: 75vh;
    left: 20vw;
    top: 10vh;
}


/********** alle styles zu main ***********/

.main {
    color: white;
    width: 35vw;
    text-align: center;
    position: absolute;
    right: 20vw;
    bottom: 0vh;
    text-size-adjust: 20px;
}

.bg {
    border-top: white 1px solid;
    height: 35vh;
    margin: 0%;
    box-sizing: border-box;   
}


.text2{
    color: white;
}

.logo2 {
    position: center center;
    width: 5vw;

}

@media (orientation:portrait)
    {
        .header {flex-direction: column;}
    }