body {
    color: floralwhite;
    font-family: Helvetica, sans-serif;
    


}

*{box-sizing: border-box;}

a {
    color: floralwhite;
    text-decoration: none;
}

.header {
    height: 60vh;
    background-image: url(pexels-anni-roenkae-2832432.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}

.mainnavi{
    width: 60vw;
    height: 15vh;
    margin: auto auto;
    display: flex;
    align-items: center;
    background-color: green;
    
}


.logo {
    width: 7vw;
    margin-left: 10vw;

}

h1 {
    color: beige;
    
}