.body {
    color: black;
    font-family: Helvetica, sans-serif;
    background-image: url(img/pexels-anni-roenkae-2832432.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;


}

*{box-sizing: border-box;}

a {
    color: floralwhite;
    text-decoration: none;
    margin-left: 5vw;
}

a:hover {
    border-bottom: 2px white solid;
}

.header {
    height: 75vh;
  

}

.mainnavi{
    width: 60vw;
    height: 10vh;
    display: flex;
    align-items: center center;
    margin: auto auto;
    padding-top: 4vh;
      
}


.logo {
    width: 7vw;
    margin-left: 10vw;

}

h1 {
    color: beige;
    
}